<div class="login-container">
    <div *ngIf="isLoading" style="justify-content: center;">
        <app-loading-spinner></app-loading-spinner>

    </div>
    <mat-card *ngIf="!isLoading">
        <mat-card-title style="text-align: center;">
            User Profile
        </mat-card-title>
        <mat-divider></mat-divider>

        <mat-card-content>
            <div>
            </div>
            <mat-error style="text-align: center;" *ngIf="error">{{error}}</mat-error>
            <form #loginForm (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field class="form-field">
                        <mat-label>E-Mail</mat-label>
                        <input matInput placeholder="johndo@example.com" [formControl]="email" id="email" [value]="email">
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="form-field">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="john" [formControl]="first_name" id="first_name" [value]="first_name">
                        <mat-error *ngIf="first_name.invalid">{{getFirstNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="form-field">
                        <mat-label>Last Name </mat-label>
                        <input matInput placeholder="doe" [formControl]="last_name" id="last_name" [value]="last_name">
                        <mat-error *ngIf="last_name.invalid">{{getLastNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>
                <div>
                    <mat-card-actions class="form-button" >
                        <button type="submit" mat-raised-button color="primary" [disabled]="email.invalid || first_name.invalid || last_name.invalid">Update</button>
                    </mat-card-actions>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>

