h1 {
    text-align: center;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.dashboard-toolbar h1{
    width:500px;
    margin: 0 auto;

    text-align: center;
}

.dashboard-sidenav-container-logout-item{
    position: absolute;
    bottom: 0;
    font-weight: bolder;

}

.dashboard-sidenav-container-logout-item:hover{
    border-top: 8px solid #3f51b5;

}

.mat-icon-logout {
    font-size: 30px !important;
  }

.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .dashboard-is-mobile .dashboard-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }



  .dashboard-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .dashboard-is-mobile .dashboard-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

