
 <div class="dashboard-container" [class.dashboard-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <button class="dashboard-toolbar-link" mat-icon-button (click)="snav.toggle()" *ngIf="isAuthenticated"><mat-icon>menu</mat-icon></button>
        <h1 class="dashboard-app-name" mat-list-item routerLink="/" >Movies Dashboard</h1>
  </mat-toolbar>

  <mat-sidenav-container class="dashboard-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngIf="isAuthenticated">
        <a mat-list-item routerLink="/" *ngIf="isAuthenticated">
          <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="dashboard"></mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink="/table" *ngIf="isAuthenticated">
          <mat-icon aria-hidden="false" aria-label="Table Data" fontIcon="view_list"></mat-icon>

          Table</a>
        <a mat-list-item routerLink="/charts" *ngIf="isAuthenticated">
          <mat-icon aria-hidden="false" aria-label="Chart Data" fontIcon="analytics"></mat-icon>
          Charts
        </a>
        <a mat-list-item routerLink="/profile" *ngIf="isAuthenticated">
          <mat-icon aria-hidden="false" aria-label="user Profile" fontIcon="person"></mat-icon>
          User
        </a>

          <a
          class="dashboard-sidenav-container-logout-item"
          mat-list-item  *ngIf="isAuthenticated" (click)="onLogOut()">
          <mat-icon aria-hidden="false" aria-label="Logout" fontIcon="logout"></mat-icon>
          Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>