
 <div class="dashboard-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="dashboard-app-name">
      <mat-nav-list>
        <span mat-list-item routerLink="/" >Movies Dashboard</span>
      </mat-nav-list>
    </h1>
  </mat-toolbar>

  <mat-sidenav-container class="dashboard-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngIf="isAuthenticated">
        <a mat-list-item routerLink="/" *ngIf="isAuthenticated">Dashboard</a>
        <a mat-list-item routerLink="/table" *ngIf="isAuthenticated">Table</a>
        <a mat-list-item routerLink="/charts" *ngIf="isAuthenticated">Charts</a>
        <a mat-list-item  *ngIf="isAuthenticated">Logout</a>
        <a mat-list-item routerLink="/login" *ngIf="!isAuthenticated">login</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>